# Configurações do Tiny
TINY_BEARER_TOKEN=ae30d99abfd42cee1757bbe828ebab7cf19b5717873890fd59f6a114a3c17bb5
TINY_ID_LISTA_PRECO=43
TINY_BASE_URL=https://api.tiny.com.br/api2

# Configurações do Bling (para futuro uso)
BLING_BASE_URL=
BLING_API_KEY=

# Configurações do Banco de Dados
DB_HOST=192.168.128.1
DB_PORT=8888
DB_USER=root
DB_PASSWORD=DropNOlemq10w
DB_NAME=nerdrop
DB_USERNAME=root
DB_DATABASE=nerdrop

# Configurações do Serviço
INTERVALO_EXECUCAO_MINUTOS=30
AMBIENTE=development

# Configurações de Produção
APP_PORT=8000
APP_ENV=production
DOMAIN=prosync.seudominio.com.br
